.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.main-container {
  border: 1px solid red;
  height: 100%;
}

.google-logo {
  border: 1px solid blue;
  margin-top: 12rem;
}

.footer {
  height: 2.8rem;
  background-color: #f2f2f2;
}