.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.top-nav, .left-top-nav, .right-top-nav, .footer, .left-footer, .right-footer {
  border: 1px solid blue;
  display: flex;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-logo {
  margin-top: 12rem;
}

.search-area {
  width: 30%;
}

.search-input {
  width: 100%;
}

.footer {
  height: 2.8rem;
  background-color: #f2f2f2;
}